# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Docker
docker-compose.override.yml

# Database
*.sqlite3
